form {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: 5% auto;
  border: 1px black solid;
  padding: 2% 5% 2% 5%;
}
.input-boxes {
  margin-bottom: 5%;
}

.datePicker {
  margin-bottom: 0;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 3px solid red;
}

input.ng-valid.ng-touched,
select.ng-valid.ng-touched {
  border: 3px solid green;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}

@media (min-width: 300px) and (max-width: 1200px) {
  form {
    max-width: 100%;
    font-size: 2rem;
  }
  form input {
    font-size: 1.4rem;
    margin-bottom: 2%;
  }
  form select option {
    font-size: 0.8rem;
    max-width: 20%;
  }
  .button-container{
  }
  .button-container button{
    min-width: 50%;
    font-size: 2rem;
    margin: 0.5em;
    height: auto;
  }

}
