.button-container {
  margin-bottom: 2%;
  margin-left: 0;
}

.search-container {
  min-height: 1em;
  min-width: 50%;
}

.status-selector {
  max-height: 45%;

}

.invoice-search-form
{
  min-height: 100%;
}
