<div class="container">
  <h2>Invoices</h2>

  <div class="button-container d-flex flex-row justify-content ms-auto">

    <form
      #searchDateForm="ngForm"
      class="d-flex"
      (ngSubmit)="getInvoicesByDate()"
      autocomplete="off"
    >
      <!-- Uses ngmodel to set model variables when submitted      -->
      <input
        class="form-control me-2 w-50 searchDate"
        name="searchDate"
        [(ngModel)]="model.currentDate"
        type="text"
        placeholder="Date"
      />

        <button class="btn btn-dark" type="submit">Search</button>
    </form>
    <a class="btn btn-success" (click)="routeToNewInvoiceForm()" >Add New Invoice</a>
    <button class="btn btn-warning mx-2" (click)="routeToEditInvoiceForm()">Edit Invoice</button>
  </div>

  <div *ngFor="let invoice of invoices">
    <app-invoice-card [invoice]="invoice"></app-invoice-card>
  </div>
</div>
