<div class="container">
  <form *ngIf="!userToReset" #verifyUserForm="ngForm" autocomplete="off" >
    <h4>Username</h4>
    <input type="text"
           [(ngModel)]="model.username"
           placeholder="Username"
           name="username"
    />

    <button (click)="verifyUser()">Verify User</button>
  </form>

  <div *ngIf="userToReset">
    <form #resetPasswordForm>
      <h4>{{userToReset.userName | titlecase}}</h4>
      <h4>New Password:</h4>
      <input type="password"
      [(ngModel)]="passwordResetModel.password"
      name=password
      >
      <button (click)="resetPassword()">Reset Password</button>
    </form>
  </div>
</div>
