
form {
  display: flex;
  flex-direction: column;
  max-width: 45%;
  min-height: 50%;
  margin: 7% auto;
  padding: 2% 5% 2% 5%;
  background-color: rgba(205, 241, 255, 0.8);
  border-radius: 5px;
}

input {
  margin: 1rem 0 1rem 0;
}

.background-login{
  overflow: hidden;
  height: 95%;
  margin: 0;
  background-size: cover;
  max-width: 100%;
}

.login-buttons button{
  margin: 1%;
  font-size: 1.2rem;
  width: 25%;
}

.forgot-button{
  width: 25%;
  margin-left: 74%;
  margin-top: 2%;
  color: red;
}
