<div class="d-flex flex-column w-75 mx-auto mobile-screen">
  <label>Search User</label>
  <div class="search-inputs d-flex flex-row justify-content-between">
    <input class="w-25 mx-1" type="text"
           [(ngModel)]="usernameToSearch"
           (ngModelChange)="searchUsers()"
    >
    <button mat-raised-button (click)="searchUsers()"><i class="fas fa-search"></i></button>
    <select
      class="mx-1"
      name="showAmount"
      id="showAmount"
      (change)="resultCountChange()"
      [(ngModel)]="take"
    >
      <option [ngValue]="5">5</option>
      <option [ngValue]="10">10</option>
      <option [ngValue]="20">20</option>
      <option [ngValue]="50">50</option>
    </select>
    <button class="btn btn-info w-25 align-self0" routerLink="/account/manage-accounts">Go Back</button>
  </div>


  <div *ngFor="let user of userList">
    <app-account-card [user]="user"></app-account-card>
  </div>
  <div class="container flex d-flex justify-content-evenly mt-4">


    <div class="flex d-flex align-content-between w-50" *ngIf="totalPages != 0">

      <button mat-raised-button class="mx-3" (click)="previousButtonClick()">Previous</button>
      <h5 class="mx-3">{{ currentPage }} / {{ totalPages }}</h5>
      <button mat-raised-button class="mx-3" color="primary" (click)="nextButtonClick()">Next</button>
    </div>
  </div>
</div>
