<div class="container mx-auto m-4 ">
  <div class="button-container d-flex flex-row justify-content">
    <div class="search-container ">
      <form
        #searchDateForm="ngForm"
        class="invoice-search-form d-flex "
        autocomplete="off"
      >
        <input
          class="form-control w-25 searchDate"
          name="searchDate"
          type="text"
          [(ngModel)]="currentDate"
          [matDatepicker]="chosenDate"
          placeholder="{{this.currentDate | date }}"
        />
        <mat-datepicker-toggle
          class="date-toggle"
          matIconSuffix
          [for]="chosenDate"
        ></mat-datepicker-toggle>
        <mat-datepicker class="input-boxes" #chosenDate></mat-datepicker>
        <div class="d-flex flex-row justify-content">
          <button mat-raised-button (click)="reloadJobs()"><i class="fa fa-refresh" aria-hidden="true"></i></button>

          <button mat-raised-button color="primary"
                  routerLink="/jobs/new-job" routerLinkActive="active"
          > New Job
          </button
          >
        </div>
      </form>
    </div>
  </div>


  <div class="job-card-section"*ngFor="let tech of techList">
    <app-job-card class="tech-card" [currentDate]="currentDate" [tech]="tech"></app-job-card>
  </div>

</div>




