.container {
  border:1px outset #999;
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  padding: 3%;
  background-color: #fff;
  border-radius: 1rem;
  margin-bottom: 2%;
}

.job-section {
}

.card-title {
  font-size: 1.8rem;
}
.card-subtitle{
  font-size: 1.3rem;
}

.card{
  margin-bottom: 1%;
  padding: 1%;
  max-width: 50%;
}

.edit-button{
  width: 20%;
  max-height: 2em;

}

.card-open {
  background-color: #00ffcf;
}

.card-pending {
  background-color: #ff9203;
}

.card-started {
  background-color: #e4ff00;
}
.card-cancelled{
  background-color: #ee0c0c;
}
.card-finished {
  background-color: #11ff00;
}

.card-closed {
  background-color: rgba(9, 114, 234, 0.26);
}

@media (min-width: 300px) and (max-width: 1200px) {
  .container{
  }
  .card{
    max-width: 85vw;
  }
  .job-section{
    width: 95vw;
  }
  .row {
    min-width: 90vw;
  }
}

@media (min-width: 500px) and (max-width: 750px) {
  .card{
    max-width:65vw;
    margin-left: 0;
  }

}
