<div class="container">
  <h2 class="card-title">
    {{ this.tech?.firstName }} {{ this.tech?.lastName }}
  </h2>

  <div class="row">
    <div *ngFor="let job of jobs" [ngClass]="getJobCardClass(job.processing_Status)"
         class="job-section card col-md-3 m-2">
      <button *ngIf="job.processing_Status!= 'Closed' " mat-button
              color="primary"
              class="edit-button"
              (click)="showEditJob(job, getCustomerForJob(job))"
      ><i class="fa-solid fa-pencil"></i>
      </button>

      <div *ngIf="getCustomerForJob(job)">
        <h4 class="card-subtitle">
          {{ getCustomerForJob(job)?.firstName }} {{ getCustomerForJob(job)?.lastName }}
        </h4>
        <p>
          {{ job.scheduledStartDateTime | date: 'MM-dd-yy' }}
        </p>
        <p>
          {{ job.scheduledStartDateTime | date: 'hh:mm a' }} - {{ job.scheduledEndDateTime | date: 'hh:mm a' }}
        </p>
        <p>
          {{ job.description }}
        </p>
        <p>
          {{ job.processing_Status }}
        </p>

        <div>
          <p *ngFor="let item of job.invoiceItems">
            {{ item.price | currency:'USD' }} {{ item.item_Name }}  <span class="mx-4">x{{ item.quantity }}</span>
          </p>
        </div>
      </div>


    </div>

  </div>
</div>
