<div class="container item-category-container">
  <div class="d-flex flex-column ">
    <!--    Default-->
    <div *ngIf="!removingCategories" class="h-25 w-25 d-flex flex-column category-section">
      <h4>Categories</h4>
      <div class="default-button-order">
        <button *ngIf="removingCategories" class="btn btn-outline-danger" (click)="removingItems = false">
          Cancel
        </button>
        <button class="btn btn-primary add-category-button" routerLink="/items/new-category">
          Add Category
        </button>
        <button class="btn btn-outline-danger" (click)="removingCategories = true">
          Remove Category
        </button>
      </div>
    </div>

    <div *ngIf="removingCategories" class="d-flex flex-column justify-content-around">
      <h4>Categories</h4>
      <button *ngIf="removingCategories" class="btn btn-outline-danger cancel-remove-item-button" (click)="removingCategories = false">Cancel
      </button>
    </div>

    <div class="mt-2" *ngFor="let category of categories">
      <app-category-card (categoryRemoved)="onCategoryRemoved($event)" [removingCategories]="removingCategories"
                         [category]="category"></app-category-card>
    </div>
  </div>

  <!--    Default-->
  <div  class="d-flex flex-column item-section">
    <div *ngIf="!removingItems"class=" ">
      <h4>Items </h4>
      <div class="default-button-order">
        <select [(ngModel)]="chosenCategoryId" name="category" (change)="loadItemsByCategory()">
          <option [ngValue]="0">All</option>
          <option *ngFor="let category of categories" [ngValue]="category.id">
            {{ category.name }}
          </option>

        </select>
        <button class="btn btn-primary" routerLink="/items/new-item">Add Items</button>
        <button class="btn btn-outline-danger" (click)="removingItems = true">Remove Items</button>
      </div>
    </div>

    <div *ngIf="removingItems" class="h-25 d-flex flex-column">
      <h4>Items </h4>
      <button class="btn btn-outline-danger cancel-remove-item-button" (click)="removingItems = false">Cancel</button>
    </div>

    <div class="mt-2" *ngFor="let item of items">
      <app-item-card (itemRemoved)="onItemRemoved($event)" [removingItems]="removingItems"
                     [item]="item"></app-item-card>
    </div>
  </div>
</div>
