
form {
  display: flex;
  flex-direction: column;
  max-width: 45%;
  min-height: 50%;
  margin: 7% auto;
  border:1px outset #999;
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  padding: 5%;
  background-color: #fff;
  border-radius: 1rem;
}

input {
  margin: 0 0 2em 0;
}
select {
  margin: 0 0 2em 0;
  width: 50%;
}
.password-error{
  color: red;
}

.form-title{
  padding-bottom: 5%;
}

@media (min-width: 300px) and (max-width: 1200px) {
  form {
    min-width: 100%;
  }
}
