.container{
  margin-top: 5%;
  border:1px outset #999;
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  padding: 5%;
  background-color: #fff;
  border-radius: 1rem;
}

input {
  width: 50%;
}

@media (min-width: 300px) and (max-width: 1200px) {
  max-width: 100vw;

}
