<div class="container d-flex flex-column align-content-center w-50 p-4" *ngIf="currentUser">

  <div *ngIf="editUser">
    <form #editUserForm="ngForm" autocomplete="off" >

      <h4>First Name</h4>
      <input type="text"
             [(ngModel)]="currentUser.firstName"
             [placeholder]="currentUser.firstName"
             name="firstName"
      />

      <h4>Last Name</h4>
      <input type="text"
             [(ngModel)]="currentUser.lastName"
             [placeholder]="currentUser.lastName"
             name="lastName"
      />
      <h4>Username</h4>
      <input type="text"
             [(ngModel)]="currentUser.userName"
             [placeholder]="currentUser.userName"
             name="userName"

      />

      <h4>Phone</h4>
      <input type="text"
             [(ngModel)]="currentUser.phone"
             [placeholder]="currentUser.phone"
             name="phone"
             />
      <h4>Email</h4>
      <input type="text"
             [(ngModel)]="currentUser.email"
             [placeholder]="currentUser.email"
             name="email"
             />
    </form>
  </div>

<!--  Changing password-->
  <div *ngIf="resetPassword">
    <form #editUserForm="ngForm" autocomplete="off" >

      <h4>Current Password:</h4>
      <input type="password"
             [(ngModel)]="currentPassword"
             name="firstName"
      />

      <h4>New Password:</h4>
      <input type="password"
             [(ngModel)]="newPassword"
             name="lastName"
      />

    </form>
  </div>

  <div *ngIf="!editUser && !resetPassword">
    <h4>Your name</h4>
    <p>{{ currentUser.firstName | titlecase }} {{ currentUser.lastName  | titlecase }}</p>
    <h4>Username</h4>
    <p>{{ currentUser.userName | titlecase }}</p>
    <h4>Phone Number</h4>
    <p>{{ currentUser.phone }}</p>
    <h4>Email</h4>
    <p>{{currentUser.email}}</p>
  </div>
<!--  Default-->
  <div class="d-flex flex-row justify-content-evenly mt-2" *ngIf="!editUser && !resetPassword ">
    <button mat-raised-button (click)="editUser = true">Change Info</button>
    <button mat-raised-button color="primary" (click)="resetPassword = true">Reset Password</button>
  </div>
<!--  Changing Password-->
  <div class="d-flex flex-row justify-content-evenly mt-2" *ngIf="resetPassword">
    <button mat-raised-button (click)="changePassword()">Change Password</button>
    <button mat-raised-button color="primary" (click)="resetPassword = false" >Cancel</button>
  </div>
<!--  Editing User Info-->
  <div class="d-flex flex-row justify-content-evenly mt-2" *ngIf="editUser">
    <button mat-raised-button (click)="updateInfo()">Submit Changes</button>
    <button mat-raised-button color="primary" (click)="editUser = false">Cancel</button>
  </div>
</div>
