
<div class="card mb-3 w-100"  *ngIf="invoice" >
  <div class="row g-0">
    <div class="col-md-4">
      <h5 class="card-title">{{customer?.firstName}} {{customer?.lastName}}</h5>

      <h6 class="card-title">Technician: {{technician?.firstName}} {{technician?.lastName}}</h6>
      <p>Total Price: ${{invoice.total_Price}}</p>
      <p>Status: {{invoice.processing_Status}}</p>
      <p>Completed: {{invoice.finishedDateTime}}</p>
      <button (click)="getPdfFromInvoice()" class="btn"><i class="fa-solid fa-file-pdf"></i></button>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h6 class="card-title">Items</h6>
        <div class=""   data-bs-spy="scroll">

            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Quantity</th>
                  <th scope="col">Item Name</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody  *ngIf="items">
                <tr *ngFor="let item of items">
                  <td >{{item.quantity}}</td>
                  <td >{{item.item_Name}} </td>
                  <td>{{item.price | currency   }}</td>
                </tr>
              </tbody>
            </table>

        </div>

      </div>
    </div>
  </div>
</div>
