form {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  min-height: 50%;
  margin: 0 auto;
  padding: 2% 5% 2% 5%;
}

input {
  margin: 1rem 0 1rem 0;
}

button {
  margin: 0 auto;
  width: 50%;
  color: #ced6ce;
  background-color: #353935;
}

.background-login{
  height: 90%;
  margin: 0;
  background-size: cover;
  max-width: 100%;
  background-image: url("../../assets/home_bg_image.jpg");
}
