.edit-button{
  width: 10%;
  max-height: 2em;

}

.container{
  border: solid black 1px;
  border-radius: 5px;
  margin-top: 2%;
}

@media (min-width: 300px) and (max-width: 1200px) {
  .container{
    width: 100%;
  }
}
