<div class="container">
  <form #newInvoiceForm="ngForm" autocomplete="off" class="d-flex ms-auto">
    <h2>New Invoice</h2>

    <!-- Choosing current customer -->
    <div class="current-customer-info">
      <label >Customer</label>
      <select
        class="form-select input-boxes"
        aria-label="Default select example"
        [(ngModel)]="selectedCustomer"
        (change)="inputSelectedCustomerInfo()"
        name="customerId"
        required
      >
        <option selected></option>
        <option
          *ngFor="let customer of existingCustomers"
          [ngValue]="customer"
          name="selectedCustomer"
        >
          {{ customer.firstName }} {{ customer.lastName }} {{ customer.city }},
          {{ customer.state }}
        </option>
      </select>
    </div>

    <!-- Choosing current customer -->
    <div class="technician-select">
      <label >Technician</label>
      <select
        class="form-select input-boxes"
        aria-label="Default select example"
        name="techId"
        [(ngModel)]="invoice.assigned_Technician_Id"
        required
      >
        <option selected></option>
        <option *ngFor="let tech of technicianList" [ngValue]="tech.id">
          {{ tech.firstName }} {{ tech.lastName }} {{ tech.city }},
          {{ tech.state }}
        </option>
      </select>
    </div>

    <label >Address</label>
    <input
      required
      type="text"
      class="input-boxes"
      [(ngModel)]="invoice.address"
      placeholder="Address"
      name="address"
    />
    <label >City</label>
    <input
      type="text"
      class="input-boxes"
      [(ngModel)]="invoice.city"
      placeholder="City"
      name="city"
      required
    />

    <label>Scheduled Start Date</label>
    <input
      required
      matInput
      type="datetime"
      class="datePicker"
      [(ngModel)]="invoice.scheduledStartDateTime"
      name="start-date"
      [matDatepicker]="startDate"
      placeholder="MM/DD/YYYY"
    />
    <mat-datepicker-toggle
      matIconSuffix
      [for]="startDate"
    ></mat-datepicker-toggle>
    <mat-datepicker class="input-boxes" #startDate></mat-datepicker>

    <div class="flex">
      <label for="appt">Start Time: </label>
      <input
        type="time"
        name="appt"
        min="09:00"
        max="18:00"
        [(ngModel)]="scheduledStartTime"
        required
      />
      <label for="appt">End Time: </label>
      <input
        type="time"
        id="appt"
        name="appt"
        min="09:00"
        max="18:00"
        [(ngModel)]="scheduledEndTime"
        required
      />
    </div>
    <small class="input-boxes">Office hours are 9am to 6pm</small>

    <div class="technician-select">
      <label>Status</label>
      <select
        class="form-select input-boxes"
        aria-label="Default select example"
        name="status"
        [(ngModel)]="invoice.processing_Status"
        required
      >
        <option selected></option>
        <option *ngFor="let status of statusList">{{ status }}</option>
      </select>
    </div>

    <div class="container flex-row w-100">
      <button
        mat-raised-button
        color="primary"
        class="w-25 mx-5"
        (click)="submitForm()"
      >
        Submit
      </button>
      <button
        mat-button
        color="accent"
        class="w-25 mx-5"
        (click)="cancelForm()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
